.hero {
  max-width: 480px;
  margin: 0 auto;
  padding: 118px 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero_mobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero_mobile@2x.jpg');
  }

  @media screen and (min-width: 481px) {
    max-width: 768px;
    max-height: 400px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero_tablet.jpg');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/hero_tablet@2x.jpg');
    }
  }

  @media screen and (min-width: 769px) {
    padding: 200px 0;
    max-width: 1600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero.jpg');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/hero@2x.jpg');
    }
  }

  @media screen and (min-width: 1600px) {
    max-height: 600px;
  }
  &__container {
    @extend %container;
    max-width: 390px;

    @media screen and (min-width: 1599px) {
      max-width: 696px;
    }
  }

  &__title {
    margin-bottom: 30px;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 1600px) {
      font-size: 44px;
      line-height: 1.4;
    }
  }

  &__button {
    @extend %button;
    margin: 0 auto;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }
}
