.portfolio {
  @extend %section;

  &__container {
    @extend %container;
  }

  &__title {
    @extend %visually-hidden;
  }

  &__filter {
    margin-bottom: 40px;

    @media screen and (min-width: 767px) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: 1599px) {
      margin-bottom: 50px;
    }
  }
}
