.employees {
  @extend %section;
  background-color: var(--second-bg-color);

  &__container {
    @extend %container;
  }

  &__title {
    @extend %section__title;
  }

  &__list {
    @media screen and (min-width: 767px) and (max-width: 1599px) {
      margin: -15px;
      flex-wrap: wrap;
    }
    @media screen and (min-width: 767px) {
      display: flex;
    }
  }

  &__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }

      @media screen and (min-width: 1600px) {
        margin-right: 30px;
      }
    }

    @media screen and (max-width: 767px) {
      display: block;
    }
    @media screen and (min-width: 767px) and (max-width: 1599px) {
      margin: 15px;
      width: calc((100% - 4 * 15px) / 2);
    }
    @media screen and (min-width: 1600px) {
      width: calc((100% - 90px) / 4);
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
  }

  &__content {
    background-color: var(--primary-white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 24px;

    @media screen and (min-width: 1600px) {
      padding: 30px 0;
    }
  }

  &__name {
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.2;

    text-align: center;
    letter-spacing: 0.03em;
  }

  &__position {
    margin-bottom: 16px;
    font-weight: normal;
    line-height: 1.2;

    text-align: center;
    letter-spacing: 0.03em;
  }
}
