.logo {
  display: block;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;

  &--header {
    padding: 16px 0;
    @media screen and (min-width: 768px) {
      margin-right: 90px;
    }
  }

  &__element--black {
    color: var(--logo-black);
  }

  &__element--white {
    color: var(--primary-white-color);
  }
}
