.project-cards {
  width: 100%;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    //align-items: stretch;
    /*outline: 1px solid red;*/
  }

  &__item {
    //display: flex;
    flex-grow: 0;

    @media screen and (min-width: 768px) and (max-width: 1599px) {
      width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1600px) {
      width: calc((100% - 60px) / 3);
    }
  }

  &__item:not(:last-child) {
    @media screen and (max-width: 1599px) {
      margin-bottom: 30px;
    }
  }

  &__item:not(:nth-last-child(-n + 3)) {
    @media screen and (min-width: 1600px) {
      margin-bottom: 30px;
    }
  }

  &__item:not(:nth-child(2n)) {
    @media screen and (min-width: 768px) and (max-width: 1599px) {
      margin-right: 30px;
    }
  }

  &__item:not(:nth-child(3n)) {
    @media screen and (min-width: 1600px) {
      margin-right: 30px;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    text-decoration: none;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__content--top {
    position: relative;
    overflow: hidden;
  }
  &__content--bottom {
    display: block;
    padding: 20px 24px;
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    padding: 63px 24px;

    background-color: var(--overlay-card-bgcolor);

    transform: translateY(100%);
    opacity: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 479px) {
      overflow-y: scroll;
    }
  }

  &__link:focus &__overlay,
  &__link:hover &__overlay {
    transform: translateY(0%);
    opacity: 1;
  }

  &__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;

    letter-spacing: 0.03em;

    color: var(--primary-white-color);
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
  }

  &__name {
    margin-bottom: 4px;
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__category {
    color: var(--primary-text-color);
    font-weight: normal;
    line-height: 1.87;
    letter-spacing: 0.03em;
  }
}
