body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
}
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
}
%container {
  padding: 0 15px;
  /*outline: 1px solid red;*/
  margin: 0 auto;
  max-width: 450px;

  @media screen and (min-width: 768px) and (max-width: 1599px) {
    max-width: 738px;
  }

  @media screen and (min-width: 1600px) {
    max-width: 1200px;
  }
}

%button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  color: var(--primary-white-color);
  font-weight: bold;
  line-height: 1.87;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.06em;

  cursor: pointer;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
%section {
  width: 100vw;
  padding: 60px 0;
  @media screen and (min-width: 1600px) {
    padding: 90px 0;
  }
}

%visually-hidden {
  visibility: hidden;
  width: 0;
  height: 0;
}

%section__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
